/resources/downloads/
/resources/academicFiles/
/src/db/
/src/crawlers/
/src/pdf_processing/utils/SentenceTokenizerTrain.py
/resources/models/bad/
/resources/models/pretrained/
/resources/models/old/

